#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  background: -webkit-linear-gradient(0deg, white 0%, #48abe0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gamepadCard {
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 1px rgb(30, 40, 60);
  padding: 1.5em;
  border-radius: 0.75em;
  box-shadow: 0px 10px 40px rgb(99 102 241 / 0.2);
  max-width: 700px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.info {
  margin-right: 0.5em;
  border-radius: 0.3em;
}
